/* Background Image for Badass Ranks in Statblocks */
.statblock[class*='bunkers'] {
  & .badassRank {
    /*! Background Image for Badass Ranks in Statblocks */
    background-image: url(/Users/sigrunshepherd/Downloads/Untitled.png);
    background-repeat: no-repeat;
    background-size: var(--statblock-background-image-size);
    bottom: 0.3125em;
    font-family: var(--statblock-content-font);
    min-height: 6.875em;
    position: relative;
    width: 6.25em;


    & p {
      font-size: var(--statblock-content-font-size);
      font-weight: var(--statblock-content-font-weight);
      //left: 42px;
      line-height: 1.5;
      position: absolute;
      min-height: fit-content;
      //top: 42px;
    }
  }
}
