// default heading
$statbest-traits-background-color: rgba(224, 225, 221, 0.9);
.statblock[class*='bunkers'] {
  /*! Improve Headings in General*/
  $statbest-heading-letter-spacing: 0.0714rem;
  $statbest-heading-font-weight: 0;
  $statbest-heading-font-style: italic;

  .flex-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .heading {
    align-items: center;
    color: var(--statblock-heading-font-color);
    display: flex;
    font-family: var(--statblock-heading-font-family);
    font-size: var(--statblock-heading-font-size);
    font-style: $statbest-heading-font-style;
    font-variant: var(--statblock-heading-font-variant);
    font-weight: $statbest-heading-font-weight;
    justify-content: space-between;
    letter-spacing: $statbest-heading-letter-spacing;
    line-height: var(--statblock-heading-line-height);
    margin: 0;
  }
}
