# Ignore Mac system files
.DS_store

# Ignore Obsidian Files
.obsidian
.trash
.development
.fonts

# Ignore vscode and friends
/.idea/
.vscode
.prettierrc
.eslint

# Activity Data
sync.log
some.log
dlFolderLastChange

# Specific Folders
/Bunkers and Badasses/Mechanics/

# Specific File Types
*.pdf
