.statblock[class*='bunkers'] {
  /*! Default Variables */
  --statblock-background-color: rgba(250, 250, 250, 1);
  --statblock-background-image-size: 6.25em 6.25em;
  --statblock-bar-border-color: rgba(98, 97, 108, 1);
  --statblock-bar-border-size: 0.0625em;
  --statblock-bar-color: rgba(98, 97, 108, 1);
  --statblock-border-color: rgba(203, 206, 208, 1);
  --statblock-border-size: 0.0625em;
  --statblock-box-shadow-blur: 0;
  --statblock-box-shadow-color: rgba(254, 254, 254, 1);
  --statblock-box-shadow-x-offset: 0;
  --statblock-box-shadow-y-offset: 0;
  --statblock-content-font: 'Inter', 'BnBFont', sans-serif;
  --statblock-content-font-size: 14px;
  --statblock-content-font-weight: 400;
  --statblock-font-color: rgba(79, 82, 93, 1);
  --statblock-font-weight: 400;
  --statblock-heading-font-color: rgba(79, 82, 93, 1);
  --statblock-heading-font-family: 'probertregular', 'BnBFont', sans-serif;
  --statblock-heading-font-size: clamp(1.25em, calc(20px + 1.5vw), 28px);
  --statblock-heading-font-variant: small-caps;
  --statblock-heading-font-weight: 700;
  --statblock-heading-line-height: 1;
  --statblock-image-border-color: rgba(78, 84, 94, 1);
  --statblock-image-border-size: 0;
  --statblock-image-height: none;
  --statblock-image-width: none;
  --statblock-primary-color: rgba(98, 97, 108, 1);
  --statblock-property-font-color: rgba(79, 82, 93, 1);
  --statblock-property-line-height: 1;
  --statblock-property-name-font-color: rgba(79, 82, 93, 1);
  --statblock-property-name-font-family: 'roadgeek_2005_engschriftRg', 'BnBFont', sans-serif;
  --statblock-property-name-font-size: 16px;
  --statblock-property-name-font-weight: bold;
  --statblock-rule-color: rgba(98, 97, 108, 1);
  --statblock-saves-line-height: 1.4;
  --statblock-section-heading-border-color: rgba(98, 97, 108, 1);
  --statblock-section-heading-border-size: 0.0625em;
  --statblock-section-heading-font-color: rgba(79, 82, 93, 1);
  --statblock-section-heading-font-family: 'din_rundschrift_eng', 'BnBFont', sans-serif;
  --statblock-section-heading-font-size: clamp(17px, calc(18px + 0.8333vw), 20px);
  --statblock-section-heading-font-variant: small-caps;
  --statblock-section-heading-font-weight: 500;
  --statblock-spells-font-color: rgba(79, 82, 93, 1);
  /*! Custom Variables */
  --bnb-h3-section-heading-font-family: "din_rundschrift_mittel", "BnBFont", sans-serif;
  --bnb-content-font-style: normal;
  --bnb-mat-name-font-family: 'Fira_Sans_Book_Italic', 'BnBFont', sans-serif;
  --bnb-spells-font-style: italic;
  --bnb-statblock-dice-roller-button-color: rgb(255, 105, 180);
  --bnb-statblock-dice-roller-results-color: rgb(255, 105, 180);
  --bnb-subheading-font-color: rgba(79, 82, 93, 1);
  --bnb-subheading-font-family: 'exo_2regular', 'BnBFont', sans-serif;
  --bnb-subheading-font-size: 12px;
  --bnb-subheading-font-style: italic;
  --bnb-subheading-font-weight: normal;
  --bnb-subheading-letter-spacing: 0;
  --bnb-table-header-font-weight: bold;
  --bnb-thin-name-font-family: 'exo_2thin', 'BnBFont', sans-serif;
  --bnb-thin-name-font-size: clamp(12px, calc(14px + 0.8333vw), 16);
  --bnb-thin-name-font-style: normal;
  --bnb-thin-name-font-weight: 300;
  --bnb-traits-background-color: rgba(224, 225, 221, 0.9);
  --bnb-traits-font-color: rgba(79, 82, 93, 1);
  --bnb-traits-font-style: italic;
  --bnb-traits-font-weight: bold;
}
