.statblock[class*=bunkers] {
  --statblock-action-property-name-font-family: "din_rundschrifteng", "BnBFont", sans-serif;
  --statblock-action-property-name-font-size: 18px;
  --statblock-action-property-name-font-style: normal;
  --statblock-action-property-name-font-weight: 300;
  --statblock-background-alpha-colors: rgba(224, 225, 221, 0.9);
  --statblock-background-color: rgba(254, 254, 254, 1);
  --statblock-background-image-size: 100px 100px;
  --statblock-badass-text-position-bottom: 1.875rem;
  --statblock-bar-border-color: rgb(98, 97, 108);
  --statblock-bar-border-size: 0.0625rem;
  --statblock-bar-color: rgb(98, 97, 108);
  --statblock-border-color: rgb(203, 206, 208);
  --statblock-border-size: 0.0625rem;
  --statblock-box-shadow-blur: 0;
  --statblock-box-shadow-color: rgb(254, 254, 254);
  --statblock-box-shadow-x-offset: 0px;
  --statblock-box-shadow-y-offset: 0px;
  --statblock-column-height: 50%;
  --statblock-column-width: 400px;
  --statblock-content-font: "exo_2regular", "BnBFont", sans-serif;
  --statblock-content-font-letter-spacing: 1px;
  --statblock-content-font-size: 14px;
  --statblock-content-font-style: normal;
  --statblock-content-font-weight: 100;
  --statblock-content-line-height: 1;
  --statblock-font-color: rgb(79, 82, 93);
  --statblock-font-weight: 700;
  --statblock-hevel-gap: 0.25em;
  --statblock-hevel-margin-inline: 0.25em;
  --statblock-image-border-color: rgb(78, 84, 94);
  --statblock-image-border-size: 0px;
  --statblock-image-box-sizing: border-box;
  --statblock-image-height: fill;
  --statblock-image-small-height: 75px;
  --statblock-image-small-width: 75px;
  --statblock-image-width: fill;
  --statblock-primary-color: rgb(98, 97, 108);
  --statblock-property-font-color: rgb(79, 82, 93);
  --statblock-property-font-style: italic;
  --statblock-property-line-font-color: rgb(98, 97, 108);
  --statblock-property-line-height: 1;
  --statblock-property-name-font-color: rgb(79, 82, 93);
  --statblock-property-name-font-family: "roadgeek_2005_engschriftRg", "BnBFont", sans-serif;
  --statblock-property-name-font-size: 18px;
  --statblock-property-name-font-style: normal;
  --statblock-property-name-font-weight: 700;
  --statblock-property-name-letter-spacing: 1px;
  --statblock-rule-color: rgb(98, 97, 108);
  --statblock-section-heading-border-size: 0.0625rem;
  --statblock-section-heading-font-color: rgb(79, 82, 93);
  --statblock-section-heading-font-family: "din_rundschrifteng", "BnBFont", sans-serif;
  --statblock-section-heading-font-size: 18px;
  --statblock-section-heading-font-style: normal;
  --statblock-spells-font-color: rgb(79, 82, 93);
  --bnb-spells-font-style: italic;
  --bnb-statblock-dice-roller-button-color: rgb(255, 105, 180);
  --bnb-statblock-dice-roller-results-color: rgb(255, 105, 180);
  --bnb-subheading-font-color: rgba(79, 82, 93);
  --bnb-subheading-font-family: "exo_2regular", "BnBFont", sans-serif;
  --bnb-subheading-font-size: 12px;
  --bnb-subheading-font-style: italic;
  --bnb-subheading-font-weight: 0;
  --bnb-subheading-letter-spacing: 0;
  --statblock-subheading-line-height: 1;
  --statblock-table-header-font-color: rgb(79, 82, 93);
  --bnb-table-header-font-weight: 300;
  --bnb-thin-name-font-family: "exo_2thin", "BnBFont", sans-serif;
  --bnb-thin-name-font-size: 14px;
  --bnb-thin-name-font-style: normal;
  --bnb-thin-name-font-weight: 300;
  --bnb-traits-font-color: rgb(79, 82, 93);
  --bnb-traits-font-style: italic;
  --bnb-traits-font-weight: 700;
}

/*# sourceMappingURL=_statblock-variables.css.map */
