$icomoon-font-family: "Bunkers" !default;
$icomoon-font-path: "fonts" !default;

$fontUnarmedicon: "\e1100";
$fontValoraicon: "\e1101";
$fontPangoblinicon: "\e1102";
$fontBONKicon: "\e1103";
$fontKleaveicon: "\e1104";
$fontSwifticon: "\e1105";
$fontunlit-bombicon: "\e1106";
$fontPlasmaicon: "\e1107";
$fontCult-of-the-Vault-Potion-It-Radiates-Moneyicon: "\e1108";
$fontCult-of-the-Marcus-Potion-Coolericon: "\e1109";
$fontCult-of-the-Dragon-Potionicon: "\e110a";
$fontHandsome-Potionicon: "\e110b";
$fontA-Harmless-Potionicon: "\e110c";
$fontCure-Hangover-Potionicon: "\e110d";
$fontMoxxi-Potionicon: "\e110e";
$fontTinaPotionicon: "\e110f";
$fontarmoricon: "\e1110";
$fonthealthicon: "\e1111";
$fontheartbeaticon: "\e1112";
$fonthearticon: "\e1113";
$fontshieldicon: "\e1114";
$fontmagic-swirlicon: "\e1115";
$fontBarrelicon: "\e1116";
$fontskull-burnicon: "\e1117";
$fontskullicon: "\e1118";
$fontIncendiaryicon: "\e1119";
$fontIncendiaradiationicon: "\e111a";
$fontRadiationicon: "\e111b";
$fontShockicon: "\e111c";
$fontCorroshockicon: "\e111d";
$fontCorrosionicon: "\e111e";
$fontCryoicon: "\e111f";
$fontExplosivCryoicon: "\e1120";
$fontExplosiveicon: "\e1121";

