$statbest-popover-border: rgba(226, 105, 134, 1) 1px dashed;
$statbest-popover-border-radius: 0;
$statbest-popover-height: max-content;
$statbest-popover-max-height: max-content;
$statbest-popover-width: fit-content;

.statblock[class*='bunkers'] {
  img {
    border: var(--statblock-image-border-size) solid var(--statblock-image-border-color);
    border-radius: unset;
    height: 100%;
    margin: -0.5em;
    object-fit: fill;
    object-position: center;
    padding-top: 5px;
    width: 100%;
  }

  .image {
    height: var(--statblock-image-height);
    width: var(--statblock-image-width);
  }

  .image-container {
    text-align: center;
  }

  .image.pointer {
    cursor: pointer;
  }

  .ImageBig a {
    display: inline-block;
  }
}

// Popover Big Time
/*.popover:has(.obsidian-statblock-plugin) {
  !*! Statblock Popover Tweaks *!
  background-color: var(--background-primary);
  border-radius: var(--radius-m);
  border: rgba(226, 105, 134, 1) 1px dashed;
  box-shadow: var(--shadow-s);
  max-height: max-content;
  padding: var(--size-4-5);
  position: relative;
}*/
/*.popover.hover-popover:has(.obsidian-statblock-plugin) {
  !*! Statblock Popover Tweaks *!
  max-width: 80vw;
  min-height: 100px;
  overflow: unset;
  padding: 0;
  position: absolute;
  width: fit-content;
  z-index: 30;
}*/

.popover.hover-popover {
  .statblock-plugin-parent {
    /*! Statblock Popover Tweaks */
    background-color: var(--background-primary);
    border-radius: var(--radius-m);
    border: rgba(226, 105, 134, 1) 1px dashed;
    box-shadow: var(--shadow-s);
    max-height: max-content;
    padding: var(--size-4-5);
    position: relative;

    .obsidian-statblock-plugin.statblock {
      max-width: 80vw;
      min-height: 100px;
      overflow: unset;
      padding: 0;
      position: absolute;
      width: fit-content;
      z-index: 30;

      .statblock-content-container {
        box-shadow: unset;
      }
    }
  }
  .markdown-embed {
    font-size: unset
  }

  .markdown-embed:has(.obsidian-statblock-plugin) {
    /*! Statblock and Embed */
    border: rgba(226, 105, 134, 1) 1px dashed;
    min-height: 100px;
    max-height: max-content;
    width: 100%;
  }
}
.popover.hover-popover .markdown-embed {
  height: 50vh;
  /* font-size: 0.85em; */
  line-height: 1.4;
  margin-top: -30px;
}

/*    !*! Statblock and Embed *!
  .popover {
    .hover-popover {
      .markdown-embed:has(.obsidian-statblock-plugin) {
        !*! Statblock and Embed *!
        border: rgba(226, 105, 134, 1) 1px dashed;
        min-height: 100px;
        max-height: max-content;
        width: fit-content;
      }
    }
  }
}*/

/*
body {
  > .popover.hover-popover {
    > .markdown-embed {
      > .markdown-embed-content {
        overflow: unset;
        > .markdown-preview-view {
          > .obsidian-statblock-plugin {
            > * {
              !*! Applied to TTRPG Statblock Class Bunkers Only *!
              border: $statbest-popover-border;
              display: contents;
              height: $statbest-popover-height;
              max-height: $statbest-popover-max-height;
              width: $statbest-popover-width;
            }
          }
        }
      }
    }
  }
}
*/

