$statbest-type-font-family: 'exo_2regular', 'BnBFont', sans-serif;
$statbest-type-font-style: italic;
$statbest-type-size: clamp(0.8125em, calc(10px + 1.5vw), 12px);

.statblock[class*="bunkers"] {
  .Type {
    /*! Make Type Property Better */
    font-family: $statbest-type-font-family;
    font-size: $statbest-type-size;
    font-style: $statbest-type-font-style;
  }
}
