.statblock[class*='bunkers'] {
  .statblock-item-inline:has(.BadassRank):has(.MovementType) {
    /*! Make the header with image, name, and type a flexbox */
      display: flex;
      align-content: space-around;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .statblock-item-inline:has(.Name) {
    $gap-inline: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: $gap-inline;
    margin-inline: $gap-inline;
  }

  .statblock-inline-item:has(.Name) {
    /*! Flexbox Adjustments if item has name */
    flex: 1;
  }
  .statblock-item-inline {
    display: flex;
    justify-content: space-around;
  }

  .line {
    line-height: var(--statblock-property-line-height);
    display: inline-flex;
    align-content: space-around;
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    color: var(--statblock-property-font-color);
  }
  

  .property-name {
    font-weight: var(--statblock-property-name-font-weight);
    display: inline;
    margin: 0 0.25em 0 0;
    color: var(--statblock-property-name-font-color);
  }
}
