.statblock-item-container.inline-container.statblock-item-inline.familiar-tams {
  padding: 0.5rem;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: end;
  background-color: rgba(224, 225, 221, 0.9);
  justify-items: stretch;
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
}

.statblock-item-container.inline-container.statblock-item-inline.move-shat {
  display: flex;
  align-content: center;
  flex-wrap: wrap-reverse;
  justify-content: center;
}
