$bnb-container-bg: rgba(224, 225, 221, 1);

.statblock[class*='bunkers'] {
  & .statblock-item-container.inline-container.statblock-item-inline.bomshat {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
    & .statblock-item-container.inline-container.statblock-item-inline.shat {
      background-color: $bnb-container-bg;
      box-sizing: border-box;
      display: inline-block;
      padding-left: 0.188em;
      position: relative;
      right: 0.625rem;
      width: 11em;

      border-radius: 0.625em 0.625em;
    }
  }
