$bnb-traits-background-color: rgba(224, 225, 221, 0.9);

.statblock.BunkersBestiary  {
  & .health, .shield, .armor, .traits {
    background-color: $bnb-traits-background-color;
    border-color: $bnb-traits-background-color;
    border-width: 1rem;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    padding-left: 0.1875rem;
    position: relative;
    width: 10.3125rem;

    &.property-name {
      font-weight: 700;
      font-family: var(--statblock-property-name-font-family);
    }

    & p {
      font-family: var(--statblock-content-font);
    }
  }
}

.statblock.BunkersFamiliar  {
  & .health, .regen, .shield, .charge, .armor, .repair, .traits {
    background-color: $bnb-traits-background-color;
    border-color: $bnb-traits-background-color;
    border-width: 1rem;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    padding-left: 0.1875rem;
    position: relative;
    width: 1rem;

    &.property-name {
      font-weight: 700;
      font-family: var(--statblock-property-name-font-family);
    }

    & p {
      font-family: var(--statblock-content-font);
    }
  }
}
