@mixin theme {
  /* Statblock Wizard's Wand Coloration */
  $statblock-wizard-bold-color: rgba(108, 36, 45, 1);
  $statblock-wizard-border-color: rgba(202, 161, 139, 1);
  $statblock-wizard-section-header-font-color: rgba(185, 99, 64, 1);
}

