@mixin theme {
  /* Hunny Heist Coloration */
  $statblock-heist-background-color: rgba(255, 247, 237, 1);
  $statblock-heist-bar-color: rgba(173, 147, 197, 1);
  $statblock-heist-border-color: rgba(230, 214, 224, 1);
  $statblock-heist-h1-color: rgba(195, 47, 126, 1);
}

