$bnb-strong-color: rgb(138, 57, 97, 1);
$bnb-em-color: rgb(83, 84, 104, 1);
$bnb-strongem-color: rgb(173, 92, 60, 1);

.statblock[class*='bunkers'] {
  em:not(strong), em a {
    font-family: 'Fira-Sans-Book-Italic', "BnB-Font", sans-serif;
    font-style: italic;
    color: $bnb-em-color;
  }
  strong:not(.name), strong a {
    font-family: 'Din-Rundschrift-Eng', "BnB-Font", sans-serif;
    font-weight: 700;
    color: $bnb-strong-color;
  }

  strong a {
    > em a {
      color: $bnb-strongem-color;
    }
  }
}
