$BNB-Font-Family: "BnBFont" !default;
$BNB-Font-Path: "fonts" !default;

$BnBFonthover-ufo: "\e1940";
$BnBFontleapfrog: "\e1941";
$BnBFontfly-wing: "\e1942";
$BnBFontteleport: "\e1943";
$BnBFontswimming-tail: "\e1944";
$BnBFontclimb-mountain: "\e1945";
$BnBFontburrow-mole: "\e1946";
$BnBFontmp5-SMG: "\e1947";
$BnBFontstun-grenade: "\e1948";
$BnBFontsawed-off-shotgun: "\e1949";
$BnBFontpanzerfaust-RPG: "\e194a";
$BnBFontsteyr-aug-AR: "\e194b";
$BnBFontuzi-SMG: "\e194c";
$BnBFontrevolver: "\e194d";
$BnBFontpistol: "\e194e";
$BnBFontUnarmed: "\e194f";
$BnBFontValora: "\e1950";
$BnBFontPangoblin: "\e1951";
$BnBFontBONK: "\e1952";
$BnBFontKleave: "\e1953";
$BnBFontSwift: "\e1954";
$BnBFontice-bomb: "\e1955";
$BnBFontcorrosive-bomb: "\e1956";
$BnBFontexplosive-bomb: "\e1957";
$BnBFontunlit-bomb: "\e1958";
$BnBFontbolt-bomb: "\e1959";
$BnBFontfire-bomb: "\e195a";
$BnBFontPlasma: "\e195b";
$BnBFontCult-of-the-Vault-Potion-It-Radiates-Money: "\e195c";
$BnBFontCult-of-the-Marcus-Potion-Cooler: "\e195d";
$BnBFontCult-of-the-Dragon-Potion: "\e195e";
$BnBFontHandsome-Potion: "\e195f";
$BnBFontA-Harmless-Potion: "\e1960";
$BnBFontCure-Hangover-Potion: "\e1961";
$BnBFontMoxxi-Potion: "\e1962";
$BnBFontTinaPotion: "\e1963";
$BnBFontarmor: "\e1964";
$BnBFonthealth: "\e1965";
$BnBFontheartbeat: "\e1966";
$BnBFontheart: "\e1967";
$BnBFontshield: "\e1968";
$BnBFontmagic-swirl: "\e1969";
$BnBFontBarrel: "\e196a";
$BnBFontclaptrap-water-gun: "\e196b";
$BnBFontheavy-bullets: "\e196c";
$BnBFontrifle: "\e196d";
$BnBFontbullets: "\e196e";
$BnBFontshotgun-rounds: "\e196f";
$BnBFontskull-burn: "\e1970";
$BnBFontskull: "\e1971";
$BnBFontIncendiary: "\e1972";
$BnBFontIncendiaradiation: "\e1973";
$BnBFontRadiation: "\e1974";
$BnBFontShock: "\e1975";
$BnBFontCorroshock: "\e1976";
$BnBFontCorrosion: "\e1977";
$BnBFontCryo: "\e1978";
$BnBFontExplosivCryo: "\e1979";
$BnBFontExplosive: "\e197a";

