$length: 0.25rem;

.statblock[class*="bunkers"] {
  .statblock-content {
    /* Global Content */
    background-color: var(--statblock-background-color);
    border-bottom: 0.1429rem double var(--statblock-border-color);
    border-left: var(--statblock-border-size) var(--statblock-border-color) solid;
    border-radius: 0.714rem;
    border-right: var(--statblock-border-size) var(--statblock-border-color) solid;
    border-top: 0.1429rem double var(--statblock-border-color);
    box-shadow: -0.714rem 0.714rem 0 0 var(--statblock-border-color);
    color: var(--statblock-font-color);
    font-family: var(--statblock-content-font);
    font-size: var(--statblock-content-font-size);
    gap: 1rem;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0.5rem;
  }

  > :global(.column) {
    height: var(--statblock-column-height);
    width: var(--statblock-column-width);
  }

  > .column {
    > .statblock-item-container:has(.tapered-rule) {
      margin-block: $length;
    }
  }

  :global(.statblock-item-container) {
    margin-bottom: $length;
  }

  > .column {
    > :is(.statblock-item-container, .statblock-item-inline):has(:is(.line, .property)):not(:has(.line .Name)) {
      margin-block: $length
    }
  }

  > .column {
    > .statblock-item-inline:has(.Name) + .statblock-item-container:has(.tapered-rule) {
      margin: 0 0.1429rem;
    }
  }

  :global(.statblock-detached) {
    position: absolute;
    top: -9999px;
  }

  :global(.statblock-item-inline) {
    display: flex;
    justify-content: space-between;
  }
}
