// Sets configuration of regular bar, and also fixes tapered rule to be straight
.statblock[class*="bunkers"] {
  .bar {
    /*! Sets configuration of regular bar */
    background : var(--statblock-bar-color);
    border     : var(--statblock-bar-border-size) solid var(--statblock-bar-border-color);
    height     : 0.0625em;
    width      : fit-content;
    z-index    : 1;
  }
}
