.statblock[class*='bunkers'] {
  .section-header {
    /*! Improve Section Headings */
    $break-ident: avoid-column;
    background-color: var(--bnb-traits-background-color);
    border-bottom-right-radius: 0.9375em 0.5em;
    border-left-width: 1.875em;
    border-top-right-radius: 0.9375em 0.5em;
    break-after: $break-ident;
    break-inside: $break-ident;
    color: var(--statblock-section-heading-font-color);
    display: inline-block;
    font-family: var(--statblock-section-heading-font-family);
    font-size: var(--statblock-section-heading-font-size);
    font-style: var(--statblock-section-heading-font-style);
    font-variant: var(--statblock-section-heading-font-variant);
    font-weight: var(--statblock-section-heading-font-weight);
    letter-spacing: 0.0625em;
    margin: 0 0 0.3em;
    overflow-x: visible;
    padding: 0.125em;
    right: 0.625em;
    width: 11.25em;
  }
  h3.section-header {
    /*! Makes h3 Awesome */
    $break-ident: avoid-column;
    background-color: var(--bnb-traits-background-color);
    border-bottom-right-radius: 0.9375em 0.5em;
    border-left-width: 1.875em;
    border-top-right-radius: 0.9375em 0.5em;
    break-after: $break-ident;
    break-inside: $break-ident;
    color: var(--statblock-section-heading-font-color);
    display: inline-block;
    font-family: var(--bnb-h3-section-heading-font-family);
    font-size: var(--statblock-section-heading-font-size);
    font-style: var(--statblock-section-heading-font-style);
    font-variant: var(--statblock-section-heading-font-variant);
    font-weight: var(--statblock-section-heading-font-weight);
    letter-spacing: 0.0625em;
    margin: 0 0 0.3em;
    overflow-x: visible;
    padding: 0.125em;
    right: 0.625em;
    width: 11.25em;
  }
}
